* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #eee;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(122, 122, 122);
}

.pagination {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  width: 300px;
  justify-content: space-around;
}
